.home{
    flex:4;
    background-color: azure;
    padding-top: 0;
    
 }
 .headerContainer {
     width: auto;
     margin-left: 50px;
   
   }
   
   .headerContainer h1 {
     justify-content: center;
     align-items: center;
     font-size: 90px;
     height: 60px;
     font-weight: 800;
     color: rgb(32, 23, 42);
     margin-bottom: 40px;
   }
   
   .headerContainer p {
     padding: 0;
     font-size: 40px;
     font-weight: lighter;
     color: black;
    
   }
   